{% extends 'base.html' %}

<head>
    <meta charset="utf-8">
    <title>Formulario Producto</title>
</head>

{% block content %}

<body>
    <div id ='idvalue' value="{{id}}" hidden></div>

    <div style="float: right; width: 40%">
        <section class="form-register">
            <div class="container">
                <div class="row justify-content-center" style="margin-top: 50%">
                    <div class="col-sm">
                        <form method="POST">
                            <div class="form-group">
                                <label for="name">Nombre : </label>
                                <input type="text" placeholder= {{producto.nombre}}  name="name"
                                    class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="descripcion">Descripcion : </label>
                                <input type="text" placeholder= {{producto.descripcion}}  descripcion="descripcion"
                                    class="form-control" id="descripcion">
                            </div>
                            <div class="form-group mb-2">
                                <label for="disponibilidad">Disponibilidad : </label>
                                <select name="disponibilidad" id="disponibilidad">
                                    <option value="Disponible">Disponible</option>
                                    <option value="Agotado">Agotado</option>
                                </select>
                            </div>
                           
                            <div class="form-group mb-4">
                                <label for="precio">Precio : </label>
                                <input type="precio" placeholder= {{producto.precio}}  name="precio" class="form-control" id="precio">
                            </div>
                        </form>
                        <button class="btn form-control btn-default" id="saveData" type="button"
                            value="Guardar producto" onclick="saveData()"><a href='/'>Guardar Cambios</a></button>
                        <button onclick="history.back()">Volver</button>
                    </div>
                </div>
            </div>
    </div>
    </selection>
    <!--<p><a href="Tareas"> | Ingresar |</a></p>-->

    </div>
</body>

<script>
    function saveData() {
        var formData = new FormData();
        formData.append("content", "Nombre")
        
        var idval= document.getElementById("idvalue").getAttribute("value")
        var name = document.getElementById("name").value
        formData.append("nombre", name)
        
        var descripcion = document.getElementById("descripcion").value
        formData.append("descripcion", descripcion)

        var disponibilidad = document.getElementById("disponibilidad").value
        console.log(disponibilidad)
        formData.append("disponibilidad", disponibilidad)
       
        var precio = parseInt(document.getElementById("precio").value)
        console.log(precio)
        formData.append("precio", precio)
        const request = new XMLHttpRequest()
        request.open("PUT", '/editProducto/' +idval)
        request.send(formData)
        console.log(request)
    }
    document.getElementById("saveData").onclick = function () { saveData(); };
</script>
{% endblock %}