{% extends './components/base.html' %}
<head>
    <meta charset="utf-8">
    <title>Emprendimiento register</title>
</head>

{% block content %}
<body>
   <div class="card">
      <div class="row g-0">
         <div class="col-md-3">
            <img src="{{ url_for('static', filename='images/logo-red.jpg') }}"/>
         </div>
         <div class="col-md-9">
            <div class="card-body">
            <h3 class="card-title">{{emprendimiento.nombre}}</h3>
            <p class="card-text"><small class="text-muted">{{emprendimiento.categoria}}</small></p>
            <p class="card-text">{{emprendimiento.descripcion}}</p>
            </div>
         </div>
      </div>
   </div>






   <div style="margin-top: 10%;">
      <h3> Productos:  </h3>
      


      <div class="row">

         {%for pro in productos%}
         <div class="col-sm-3" style="margin-bottom: 2%;">
            <div class="card" >
               <img src="{{ url_for('static', filename='images/logo-red.jpg') }}"/>
               <div class="card-body">
                  <h5 class="card-title"> {{pro.nombre}}</h5>
                  <p class="card-text">{{pro.descripcion}}</p>
                  <p class="card-text" style="text-align: right;" >Precio: {{pro.precio}}</p>
               </div>
            </div>
         </div>
         {%endfor%}

      </div>

      
      </div>





      
   </div>

      


</body>

{% endblock %}
