{% extends './components/base.html' %}
<head>
    <meta charset="utf-8">
    <title>Emprendimiento register</title>
</head>

{% block content %}
<body>
   <div class="card">
      <div class="row g-0">
         <div class="col-md-3" >
            {% if emprendimiento.imagen_name %}
            <img src="{{ url_for('static', filename= "upload/"+emprendimiento.imagen_name) }}" class="img-thumbnail"/>
            {% else %}
            <img src="{{ url_for('static', filename= "images/logo-red.jpg")}}" class="img-thumbnail"/>
            {% endif %}
         </div>
         <div class="col-md-9">
            <div class="card-body">
            <h3 class="card-title">{{emprendimiento.nombre}}</h3>
            <p class="card-text"><small class="text-muted">Categoria: {{emprendimiento.categoria}}</small></p>
            <p class="card-text"><small class="text-muted">Puntuación Promedio: {{promedio}}</small></p>
               <p class="card-text"><small class="text-muted">Valoración:</small></p>
               <form>
               <select class="select" id="rating">
                  <option value="1">⭐</option>
                  <option value="2">⭐⭐</option>
                  <option value="3">⭐⭐⭐</option>
                  <option value="4">⭐⭐⭐⭐</option>
                  <option value="5">⭐⭐⭐⭐⭐</option>
               </select>
               </form>
            </div>
            <p class="card-text">{{emprendimiento.descripcion}}</p>       
               {% if userId == emprendimiento.id_usuario %}
                  <a href="/emprendimiento/edit/{{emprendimiento.id}}" class="btn btn-danger stretched-link", style="justify-content: center;">Edit</a>
               {% endif %}

            </div>
         </div>
      </div>
   </div>





   <div style="margin-top: 10%;">
      <h3> Productos:  </h3>
      


      <div class="row">

         {%for i in range(0, productos|length )%}
         <div class="col-sm-3" style="margin-bottom: 2%; ">
            <div class="card" >
               {% if productos[i].imagen_name %}
               <img src="{{ url_for('static', filename= "upload/"+productos[i].imagen_name) }}" class="img-thumbnail"/>
               {% else %}
               <img src="{{ url_for('static', filename= "images/logo-red.jpg")}}" class="img-thumbnail"/>
               {% endif %}
               <div class="card-body">
                  <h5 class="card-title"> {{productos[i].nombre}}</h5>
                  <p class="card-text">{{productos[i].descripcion}}</p>
                  <p class="card-text" style="text-align: right;" >Precio: {{productos[i].precio}}</p>

                  
                  
               {% if userId == emprendimiento.id_usuario %}
                   <p><a href="/editProducto/{{productos[i].id}}" , style="justify-content: center;">Edit</a></p>
                   
               {% endif %}

                  <p><a href="/producto/{{productos[i].id}}" >Ver</a></p>
               </div>
            </div>
         </div>
         {%endfor%}
         {% if emprendimiento.id_usuario == userId %}
          <div class="col-sm-3" style="margin-bottom: 2%;">
            <div class="card"  onclick="location.href='/nuevoProducto'">
               <img src="{{ url_for('static', filename='images/more.png') }} " class="img-thumbnail"/>
            </div>
         </div>
         {% endif %}




      </div>

      
      </div>





      
   </div>

      


</body>

{% endblock %}
