<!doctype html>
{% extends 'base.html' %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
  </body>
  {% block content %}
  <body>


    <div style="float: right; width: 40%">
      <section class="form-login">
        hola este es el index.html
        <button onclick="history.back()">volver</button>
    </selection>
    <!--<p><a href="Tareas"> | Ingresar |</a></p>-->

    </div>
    </body>
    {% endblock %}
</html>
