<div class="card mb-3" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="static/images/logo-red.jpg"
          class="img-fluid rounded-start"
          alt="Imagen Emprendimiento"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Nombre Emprendimiento</h5>
          <p class="card-text">Categoria: Lorem Ipsum</p>
          <p class="card-text">Descripcion: Lorem Ipsum Dolor Sin Amet</p>
        </div>
      </div>
    </div>
  </div>
